
.header-nav-section {
    display: flex;
    justify-content: space-between;
    background-color: #313131;
    align-items: center;
}

.link-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.link-logo-icon {
    width: 27px;
    height: 27px;
    margin: 22px 27px 21px;
}

.link-logo-text {
    text-align: left;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
}

.navigation-list {
    display: flex;
    list-style-type: none;
}

.navigation-list-item:not(:first-child) {
    margin-left: 35px;

}


.navigation-list-item-link {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: flex-end;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.navigation-list-item-link:hover {
    color: #14B9D5;
}

.search-icon-link {
    background-color: #000000;
}

.search-icon-img {
    padding: 27px;
}

.header-latest-news {
    height: 368px;
    background-repeat: no-repeat;
    background-image: url("../assets/img/background/header-bg.jpg");
    background-size: cover;
}

.latest-news-title {
    text-align: center;
    padding-top: 164px;
    margin-top: 0;
    margin-bottom: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.latest-news-list {
    display: flex;
    justify-content: center;
    margin-top: 44px;
    margin-bottom: 0;
}

.latest-news-list-item {
    width: 170px;
    height: 55px;
    border-radius: 2px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.latest-news-list-item:first-child {
    background: #89CA62;
}

.latest-news-list-item:last-child {
    margin-left: 20px;
    background: #14B9D5;
}

.latest-news-list-item-link {
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.section-title {
    margin-top: 0;
    padding-top: 49px;
    margin-bottom: 21px;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    color: #18B4CF;
    text-transform: uppercase;
}

.posts {
    background-color: #F2F2F2;
    height: 1030px;
}

.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.posts-list {
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
    align-items: flex-start;
    flex-flow: column wrap;
    height: 900px;
}

.posts-list-item-link {
    text-decoration: none;
}

.posts-list-item {
    margin-left: 15px;
    margin-top: 31px;
}

.posts-list-item-small {
    height: 26px;
}


.list-item-title {
    margin: 0;
    padding: 20px;
    text-align: center;
    background-color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
}

.clients {
    background-repeat: no-repeat;
    background-image: url("../assets/img/background/clients-bg.jpg");
    background-size: cover;
}

.clients-title {
    padding-top: 106px;
    margin-bottom: 0;
    text-align: center;
    margin-top: 0;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.divider {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 87px;
    margin-bottom: 106px;
}

.clients-list {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 191px;
    padding-left: 50px;
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    align-items: center;
    grid-gap: 1.5vw;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.top-rated-wrapper {
    margin-top: 31px;
    display: grid;
    grid-gap: 0;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr
}

.top-rated-wrapper-img {
    width: 100%;
}

.hot-news {
    margin-top: 0;
}


.hot-news-item-img{
    padding: 0;
    margin: 0;
    width: 100%;
}

.hot-news-item-title {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    padding: 0;
    margin: 0;
    padding-top: 10px;
}


.hot-news-item-paragraph{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
}

.outer-grid-head {
    padding-top: 30px;
    display: grid;
    grid-template-rows: 259px ;
    grid-template-columns: 857px 277px;
    grid-gap: 35px;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
}

.margin-center{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}


.outer-grid-middle {
    margin-top: 35px;
    display: grid;
    grid-template-rows: 418px 418px;
    grid-template-columns: 554px 554px;
    justify-content: space-between;
    grid-gap: 30px;
    grid-auto-flow: column;
    align-items: center;
}

.inner-grid-middle {
    display: grid;
    grid-template-columns: 554px;
    background-color: #F9F7F7;
}

.inner-grid {
    display: grid;
    grid-template-columns: 483px 374px;
    grid-template-rows: 1fr;
}

.inner-grid-second-elem {
    display: grid;
    grid-template-columns: 277px;
    grid-template-rows: 210px 48px;
}

.outer-grid-foot{
    margin-top: 35px;
    display: grid;
    grid-template-rows: 259px ;
    grid-template-columns: 277px 857px;
    grid-gap: 35px;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 77px;
}

.footer{
    background-color: #000000;
}

.footer-wrapper{
    display: grid;
    grid-template-rows: 80px;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.licence{
    display: block;
    text-align: right;
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
}

.footer-logo{
    text-align: center;
    padding-top: 10px;
}

.item-context{
    background-color: #F9F7F7;
    text-align: center;
}
.hot-news-item-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    padding-top: 10px;
}
