.main-container {
    margin: 0 auto;
    width: 1280px;
}

.header-title {
    margin-top: 63px;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
    color: #000000;
}

.header-title-link {
    text-decoration: none;
    color: #000000;;
}

.header-title-link-color {
    color: #4bcaff;
}

.header-nav {
    height: 72px;
    margin-top: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #35444F;
}

.header-nav-list {
    height: 72px;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.header-nav-list-item {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    border-left: 1px solid #FFFFFF;
}

.header-nav-list-item:hover {
    background: #222F3A;
}

.header-nav-list-item:last-child {
    border-right: 1px solid #FFFFFF;
}

.header-nav-list-item-link {
    padding-left: 32px;
    padding-right: 32px;
    list-style-type: none;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-decoration: none;
}

.main {
    margin-top: 48px;
    display: flex;
}

.main-aside {
    height: 399px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
}


.aside-nav-list {
    height: 100%;
    width: 344px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    border: 1px solid #000000;
}

.aside-nav-list-item {
    display: flex;
    height: 79px;
    padding-left: 44px;
    justify-content: flex-start;
    vertical-align: middle;
    align-items: center;
}

.aside-nav-list-item:hover {
    background: #DBDBDB;
    padding-left: 64px;
}

.aside-nav-list-item-link {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-size: 27px;
    line-height: 27px;
    color: #485863;;
}

.aside-nav-list-item-link:hover {
    color: #000000;
}

.context {
    margin-left: 52px;
}

.context-img-container {
    border: 1px solid #000000;
    height: 529px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.context-img-container :hover {
    transform: scale(1.2);
}

.context-img {
    width: 320px;
    height: 381px;
}

.context-text {
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-bottom: 0;
}

.first-par-margin {
    margin-top: 37px;
}

.second-par-margin {
    margin-top: 34px;
}

.footer {
    margin-top: 53px;
    padding-bottom: 30px;
}

.footer-section {
    display: flex;
    justify-content: space-around;
    width: 1280px;
    background: rgba(99, 105, 110, 0.48);
    align-items: center;
}

.footer-nav-list {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style-type: none;
    padding-left: 0;
}

.footer-nav-list-item {
    font-size: 28px;
    line-height: 28px;
}

.footer-nav-list-item:hover {
    border-bottom: 1px solid #3181A6;
}

.footer-nav-list-item:not(:first-child) {
    margin-left: 32px;
}

.footer-nav-list-item-link {
    text-decoration: none;
    color: #010101;
}

.footer-nav-list-item-link:hover {
    color: #3181A6;
}

.footer-copy-right-text {
    font-size: 24px;
    line-height: 24px;
    color: #010101;
}




