.page-body {
    margin: 0;
    font-family: sans-serif;
}

.hero {
    background-image: url(../img/hero-bgd.jpg);
    /* background-repeat: no-repeat; */
    background-size: cover;
    /* padding-left: 224px;
    padding-top: 528px;
    padding-bottom: 133px;
    padding-right: 30px; */
    padding: 528px 30px 133px 224px;
}

.hero-title {
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 16px;
}

.hero-subtitle {
    margin-top: 0;
    margin-bottom: 22px;

    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
}

.hero-slogan {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #fff;
    padding: 38px 31px;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;

    font-weight: bold;
    font-size: 54px;
    line-height: 66px;
    text-transform: uppercase;

    color: #ffffff;
}

.accent-color {
    color: #f48e0b;
}

.page-nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 22px;
    border-bottom: 3px #f48e0b solid;
}

.logo {
    font-size: 28px;
    text-decoration: none;
    font-weight: bold;
    color: #f48e0b;
    text-transform: uppercase;
}

.menu {
    display: flex;
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.menu-item {
    margin-left: 69px;
}

.page-header {
    padding-top: 15px;
    padding-bottom: 15px;
}

.menu-link {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #3d3d3d;
    text-decoration: none;
}

.menu-link-active {
    color: #f48e0b;
}

.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #fff;
}

.section-header {
    text-align: center;
}

.section-title {
    margin-top: 0px;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: #333333;
    text-transform: uppercase;
}

.services {
    padding-bottom: 195px;
    padding-top: 110px;
}

.section-subtitle {
    margin-top: 0px;
    margin-bottom: 47px;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    color: #4d4943;
}

.section-line {
    width: 60px;
    height: 3px;
    background: linear-gradient(0deg, #f1ad1d, #f1ad1d), #f48e0b;
    border: none;
}

.service {
    text-align: center;
    border-bottom: solid 6px #000;
    padding-bottom: 35px;
}

.service-title {
    margin-top: 0;
    margin-bottom: 30px;
    padding: 22px 10px 16px;
    color: white;
    text-align: center;
    background-color: #333333;
    width: 100%;
}

.services-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(4, 1fr);
    column-gap: 34px;
}

.service-icon {
    margin-bottom: 31px;
}

.service-text {
    margin-top: 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0;
}

.service-line {
    margin-top: 24px;
    margin-bottom: 27px;
    border: none;
    width: 66px;
    height: 6px;
    background: linear-gradient(0deg, #f1ad1d, #f1ad1d), #f48e0b;
}

.service-offer-title {
    margin-top: 0;
    margin-bottom: 13px;
    font-size: 18px;
    line-height: 22px;
    color: #505050;
}

.offers {
    padding-left: 0;
    list-style: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #505050;
}

.offers-item {
    margin-bottom: 10px;
}

.team-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.team-member{
    margin: 0;
    position: relative;
}

.team-member-img{
    width: 100%;
    display: block;
}

.team-member-name{
    position: absolute;
    width: 139px;
    height: 45px;
    left: 12px;
    bottom: 14px;
    background: linear-gradient(0deg, #333333, #333333), #111111;

}

.team-member-name{
    padding-left: 17px;
    padding-top: 15px;
    padding-bottom: 15px;
}