@font-face {
    font-family: Montserrat;
    src: url("../assets/fonts/Montserrat-Light.woff2");
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: Montserrat;
    src: url("../assets/fonts/Montserrat-Regular.woff2");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: Montserrat;
    src: url("../assets/fonts/Montserrat-Bold.woff2");
    font-weight: 700;
    font-display: swap;
}

.main-header-container {
    width: 100%;
    background: url("../assets/img/header/header.jpg") no-repeat;
    background-size: cover;
}

.content-container {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background: rgba(94, 93, 88, 0.6);
}

.header-nav-section-container {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

.header-nav-section {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.link-logo-icon {
    width: 58px;
    height: 67px;
    margin-top: 26px;
    margin-bottom: 27px;
}

.link-logo-text-prt-one {
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
    padding-left: 6px;
}

.link-logo-text-prt-second {
    font-size: 32px;
    line-height: 48px;
    color: #18CFAB;
}

.navigation-list {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    height: 100%;
}

.navigation-list-item:not(:first-child) {
    margin-left: 21.09px;
}

.navigation-list-item-link {
    padding-top: 49.61px;
    padding-bottom: 48.74px;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.navigation-list-item-link:hover {
    color: #18CFAB;
    border-bottom: 2px solid #18CFAB;
}

.header-title-container {
    width: 1160px;
    margin: 379px auto 130px;
}

.header-title {
    /*margin: 0;*/
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 1px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header-title-second-color {
    color: #18CFAB;
}

.header-slogan {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 78px;
    line-height: 1px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header-sub-title {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 1px;
    text-align: center;
    color: #D4D4D4;
    margin-bottom: 130px;
}

.header-btns {
    display: flex;
    justify-content: center;
    padding-bottom: 243px;

}

.button-outer {
    position: relative;
    width: 169px;
    height: 68px;
    background: white;
    border-radius: 5%;
    cursor: pointer;
}

.button-inner {
    top: 5px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 169px;
    height: 68px;
    border-radius: 5%;
}

.basic-color {
    background: #18CFAB;
}

.specific-color-first {
    background: #00CBF6;
}

.specific-color-second {
    background: #1C2A33;;
}

.button-inner-text {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.button-outer:nth-child(2) {
    margin-left: 26px;
}

.squares {
    width: 1928px;
    margin: 8px auto;
}

.figures-list {
    display: flex;
    justify-content: center;
}

.figures-list-item {
    width: 100%;
    margin: 0;
}

.figure-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 242px;
}

.figure-icon-text {
    display: block;
    text-align: center;
    font-family: Montserra, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 110px;
}

.figure-color-basic {
    color: #18CFAB;
}

.figure-color-white {
    color: white;
}

.section-subtitle {
    padding-top: 83px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #4E4E4E;
}

.shape {
    margin-top: 24px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.list-of-services {
    width: 100%;
    margin-top: 69px;
    margin-bottom: 91px;
}

.tabs-header {
    margin-top: 0;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 25px;
}

.tabs-title {
    position: relative;
    padding-top: 17.2px;
    padding-bottom: 18.8px;
    width: 195px;
    display: flex;
    justify-content: center;
    background-color: #F8FCFE;
    border: 1px #F8FCFE solid;
    cursor: pointer;
}

.tabs-title:hover {
    border: 1px #18CFAB solid;
}

.tabs-title.active::after {
    content: '';
    position: absolute; /* Абсолютное позиционирование */
    left: 87px;
    bottom: -20px; /* Положение треугольника */
    border: 10px solid transparent; /* Прозрачные границы */
    border-top: 10px solid #18CFAB; /* Добавляем треугольник */
}

.tabs-title-content {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15.9859px;
    line-height: 39px;
}

.tabs-content-list {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.tab-content {
    display: flex;
    justify-content: center;
}

.tab-content-img {
    width: 192px;
    height: 139px;
}

.tab-content-text {
    margin-left: 15px;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13.645px;
    line-height: 24px;
    color: #777777;
}

.tabs-title.active {
    background-color: #18CFAB;
    color: #FFFFFF;
}

.hide-element {
    display: none;
}

.show-element {
    display: flex;
}

.services-final-step-container {
    width: 100%;
    background: url("../assets/img/services/background/services.png") no-repeat;
    background-size: cover;
}

.services-final-title {
    display: block;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #18CFAB;
    text-align: center;
    margin: 0;
    padding-top: 126.78px;
}

.services-final-sub-title {
    display: block;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: #D8D8D8;
    margin: 0;
    margin-top: 12.2px;
}

.services-button-container {
    margin-top: 62px;
    padding-bottom: 131px;
    display: flex;
    justify-content: center;
}

.amazing-work {
    background-color: #E9EDEF;
}

.filter {
    /*margin: 69px auto 70px;*/
    margin: 69px auto 70px;
    display: flex;
    justify-content: center;
}

.filter-header {
    margin: 0;
    display: flex;
    width: 582px;
    justify-content: space-evenly;
    list-style-type: none;
    padding-left: 0;
    /*margin-bottom: 0;*/
}

.filter-title.active {
    background-color: #18CFAB;
    color: #FFFFFF;
}

.filter-title:not(:first-child) {
    position: relative;
    /*padding-top: 14px;*/
    /*padding-bottom: 13px;*/
    width: 143px;
    display: flex;
    justify-content: center;
    background-color: #E9EDEF;
    border: 1px #DADADA solid;
    cursor: pointer;
}

.filter-title:first-child {
    position: relative;
    width: 79px;
    display: flex;
    justify-content: center;
    background-color: #E9EDEF;
    border: 1px #DADADA solid;
    cursor: pointer;
}

.filter-title:hover {
    border: 1px #18CFAB solid;
}

.filter-title-content {
    padding-top: 12px;
    padding-bottom: 9px;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 42px;
    color: #717171;
}

.filter-content {
    margin-left: 10px;
    margin-right: 10px;
    width: 1140px;
}

.figure-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.figure-item {
    margin: 0;
    padding: 0;
    width: 285px;
}

.figure-item-link {
    position: relative;
    text-decoration: none;
}

.img-and-hover {
    position: relative;
}

.figure-item-img {
    display: block;
    width: 285px;
    height: 205.99px;
}

.figure-item-link:hover .figure-item-img-hoover {
    display: block;
}

.item-hoover-context {
    display: block;
    padding-top: 7px;
    padding-left: 16px;
    margin-bottom: 8px;
    padding-bottom: 0;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
}

.figure-item-img-hoover {
    border-top: 3px #18CFAB solid;
    display: none;
    width: 100%;
    height: 100%;
    bottom: 0;
    position: absolute;
    background-color: #E9EDEF;
}

.figure-item-link:hover .figure-item-img-hoover {
    display: block;
}

.figure-item-icons-container {
    display: flex;
    padding-top: 48px;
    justify-content: center;
    margin-bottom: 23.82px;
}

.figure-item-icon:not(:first-child) {
    margin-left: 3px;
}

.figure-item-title {
    display: block;
    text-align: center;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14.1771px;
    line-height: 25px;
    text-transform: uppercase;
    color: #18CFAB;
}

.figure-item-subtitle {
    display: block;
    text-align: center;
    font-family: Montserrat, serif;;
    font-style: normal;
    font-weight: 300;
    font-size: 12.1518px;
    line-height: 25px;
    color: #8A8A8A;
}

.amazing-work-btn-container {
    margin-top: 70px;
    padding-bottom: 99px;
    display: flex;
    justify-content: center;
}

.amazing-work-btn {
    cursor: pointer;
    display: flex;
    width: 168px;
    height: 63px;
    background-color: #18CFAB;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.amazing-work-btn-txt {
    margin-left: 15px;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 42px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.breaking-news {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

.breaking-news-content {
    margin-top: 69px;
    display: flex;
    justify-content: center;
    padding-bottom: 128.81px;
}

.news-figure-wrapper {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 43px;
    grid-template-columns: 263px 263px 263px 263px;
}

.news-figure-item {
    padding: 0;
    margin: 0;
}

.news-figure-item-link {
    position: relative;
    text-decoration: none;
}

.news-img-and-hover {
    position: relative;
}

.news-figure-item-img {
    display: block;
    width: 263px;
}

.news-figure-item-img-hoover {
    display: block;
    width: 70px;
    height: 68px;
    top: 0;
    right: 0;
    position: absolute;
    background-color: #203E38;
}

.news-figure-item-link:hover .news-figure-item-img-hoover {
    display: block;
    background-color: #18CFAB;
}

.news-figure-item-link:hover .news-figure-item-name {
    color: #18CFAB;
}

.news-item-hoover-context-date {
    display: block;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 16px;
}

.news-item-hoover-context-month {
    display: block;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 15px;
    margin: 0;
}

.news-figure-item-name {
    margin-top: 3.24px;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17.9885px;
    line-height: 39px;
    color: #717171;
}

.news-figure-item-name-title {
    padding-left: 25px;
}

.news-figure-item-name-publisher {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13.991px;
    line-height: 39px;
    color: #777777;
    margin-left: 25px;
}

.news-figure-item-name-publisher::after {
    content: '';
    padding-left: 20px;
    border-right: #777777 1px solid;
}

.news-figure-item-name-comments {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13.991px;
    line-height: 39px;
    color: #777777;
    padding-left: 18px;
}

.reviews {
    width: 100%;
    background: url("../assets/img/reviews/background/reviews.jpg") no-repeat;
    background-size: cover;
}

.reviews-title {
    padding-top: 83px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
}

.quotes {
    margin-top: 68px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.selected-review-container {
    width: 1160px;
    margin: 36px auto 57px;
}

.carousel-main-container {
    padding-bottom: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-container {
    margin-left: 38px;
    margin-right: 38px;
    width: 600px;
    height: 150px;
    justify-content: center;
    vertical-align: center;
}

.carusel-arrows {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #BBBBBB;
}

.carusel-arrows:hover {
    fill: #18CFAB;
    background-color: #18CFAB;
}

.selected-review-content {
    display: block;
    text-align: center;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
}

.selected-review-author {
    display: block;
    text-align: center;
    margin-top: 37px;
}

.author-name {
    display: block;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    color: #18CFAB;
}

.author-position {
    margin-top: 5px;
    display: block;
    text-align: center;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
}

.selected-review-author-img-container {
    margin-top: 38px;
    display: block;
    text-align: center;
}

.selected-review-author-img {
    width: 166px;
    height: 166px;
}

.filter-title.active {
    border: 1px #18CFAB solid;
}

.filter-title-content.active {
    color: #18CFAB;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.move {
    transform: translateY(-15px);
}

.footer {
    background-color: #22353F;
}

.footer-context {
    display: block;
    text-align: center;
    padding-top: 48px;
    padding-bottom: 47px;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
}

.footer-context-specific-color {
    color: #19BB9D;
}

