
.container {
    width: 100%;
    height: 100%;
    background: url("../assets/img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.4);
}

.logo {
    padding-left: 79px;
    font-size: 22px;
    line-height: 22px;
    font-weight: bold;
    display: flex;
    color: #FFFFFF;
    text-transform: uppercase;
    align-items: center;
}

.logo:hover {
    color: #3CB878CC;
}

.nav-icons {
    fill: white;
}

.nav-icons:hover {
    fill: #3CB878CC;
}

.header-list-text-item-link:hover {
    color: #3CB878CC;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding-top: 41px;
}

.header-list-icons {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.header-list-icons-item:not(:first-child) {
    margin-left: 24px;
}

.header-list-icons-item:last-child {
    margin-right: 24px;
}

.header-list-icons::after {
    content: "";
    border-right: rgba(255, 255, 255, 0.9) solid 2px;
}

.header-list-text {

    display: flex;
    list-style: none;
    padding-left: 0;
    margin-left: 27px;
    padding-right: 79px;

}

.header-list-text-item {
    display: flex;
    align-items: center;
    margin-right: 5px;
    color: #FFFFFF;

}

.header-list-text-item-link {
    margin-left: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    text-decoration: none;
}

.main-form {
    position: relative;
    width: 444px;
    margin-top: 54px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.main-form-header {
    display: flex;
    padding-top: 20px;
}

.main-form-container {
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 38px;
    background-color: #FFFFFF;;
}

.main-form-header {
    display: flex;
    justify-content: space-between;
}

.main-form-log-in {
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}

.main-form-log-in:hover {
    color: #01813F;
}

.square {
    position: absolute;
    left: 0;
}

.main-form-buttons {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.facebook-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 160px;
    height: 48px;
    border: 2px solid #ffffff;
    border-radius: 4px;
    margin-bottom: 31px;
    background: #305DB8;
}

.google-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 160px;
    height: 48px;
    border: 2px solid #ffffff;
    border-radius: 4px;
    margin-bottom: 31px;
    background: #DF4A32;
}

.facebook-google-btn-part-two {
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

.facebook-btn:hover {
    background: #022263;;
}

.google-btn:hover {
    background: #AB1F09;
}

.or-divider {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 11px;
}

.or-divider-text {
    font-size: 14px;
    line-height: 14px;
    color: #848484;
}

.sight-up-form-field {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    height: 46px;
    background: #FFFFFF;
    border-radius: 4px;
}

.sight-up-form-field-input {
    padding-left: 20px;
    display: block;
    width: 100%;
    height: 46px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}

.sight-up-form-field-input::placeholder {
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}

input[type="text"], input[type="password"], input[type="email"], textarea, select {
    outline: none;
}

.sight-up-form-field-input:focus {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}

.submit-button {
    width: 100%;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    margin-bottom: 38px;
    margin-top: 20px;;
}

.submit-button:hover {
    background: #01813F;
}

.submit-button-text {
    padding-top: 16px;
    padding-bottom: 16px;
    display: block;
    justify-content: center;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

.agree-conditions-text {
    margin-left: 8px;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #434343;
}

.agree-conditions-field {
    display: flex;
}

.terms-conditions-link {
    margin-left: 2px;
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878CC;
}


