*,
*::after,
*::before {
    box-sizing: border-box;
}

.page-body {
    margin: 0;
    font-family: sans-serif;
    height: 100%;
}

.box {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 4px solid black;
}

.box--span{
    display: inline-block;
}

.wrapper{
    display: flex;
}

.element{
    width: 200px;
    padding: 50px;
    background-color: yellow;
    border: 5px solid aqua;
}
