.wrapper-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wrappwe-element {
    width: calc((100% / 3) - 10px);
);
    /*width: 300px;*/
    background-color: #4bcaff;
    text-align: center;
    padding: 50px;
    font-weight: 700;
    margin-bottom: 15px;
}

.wrapper-container-2 {
    display: flex;
    /*flex-direction: column;*/
}

.wrappwe-element-2 {
    /*width: calc((100% / 3) - 10px);*/
    /*);*/
    /*width: 300px;*/
    background-color: #4bcaff;
    text-align: center;
    padding: 50px;
    font-weight: 700;
    margin-bottom: 15px;
}

.wrappwe-element-3 {
    margin-right: auto;
}

.wrapper-container-4 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 400px;
}

.wrappwe-element-4 {
    background-color: #4bcaff;
    text-align: center;
    padding: 50px;
    font-weight: 700;
    margin-bottom: 15px;
    flex-basis: 100%;
}

.wrappwe-element-5 {

    background-color: red;
    text-align: center;
    padding: 50px;
    font-weight: 700;
    margin-bottom: 15px;
    flex-basis: 25%;
}