.input-field {
    outline-color: green;
}

.input-container{
    margin-top: 5px;
}

.hide-element {
    display: none;
}
.price-result{
    line-height:22px;
}

.close-span-btn{
    margin-left: 5px;
}

.show-element {
    display: flex;
}

.text-color-green {
    color: green;
}

.text-color-black {
    color: black;
}

.error {
    color: #FF0000;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

