*,
*::after,
*::before {
    box-sizing: border-box;
}

.page-body {
    margin: 0;
    font-family: sans-serif;
}

.section-title{
    text-align: center;
    font-size: 30px;
    line-height: 45px;
    color: azure;
    background-color: aqua;
}

.about-us-title{

}