.base-container {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.animation-container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 70%;
    overflow: hidden;
    background-color: rgb(3, 5, 5);
    perspective: 150px;
}

.animation-text-container{
    font-size: 70px;
    line-height: 100px;
    color: yellow;
    position: relative;
    animation: animation-starwords 30s linear forwards;
    animation-iteration-count: infinite;
}

.animation-container-title {
    display: inline-block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

.animation-container-subtitle {
    display: inline-block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

.second-part {
    text-align: justify;
}

@keyframes animation-starwords {
    from {
        top: 200px;
        transform: translateZ(0) rotateX(20deg);
    }
    to {
        top:-7500px;
        transform: translateZ(-2500px) rotateX(23deg);
    }
}