.page-body {
    margin: 0;
    font-family: sans-serif;
}

.nav-list {
    padding-top: 25.5px;
    padding-bottom: 25.5px;
    margin: 0;
    text-align: center;
}

.nav-list-item:not(:first-child) {
    margin-left: 60px;
}

.nav-list-item {
    display: inline-block;
}

.nav-list-item-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    color: #FF0000;
}

.welcome-img {
    width: 100%;
    height: 789px;
}

.context {
    margin-top: 48px;
}

.context-title {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.context-text {
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
    margin-left: 67.5px;
    margin-right: 67.5px;
    margin-bottom: 0;
    text-align: center;
}

.context-text-position-first {
    margin-top: 38px;
}

.context-text-position-second {
    margin-top: 28px;
}

.link-as-btn {
    margin: 66px auto 42px;
    width: 191px;
    height: 51px;
    background: #FF0000;
    border-radius: 4px;
    text-align: center;
}

.link-as-btn-text {
    line-height: 51px;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-notes {
    display: block;
    text-align: right;
    margin-right: 105px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 40px;
    padding-bottom: 29px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
}



















