.card-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 20px;
    width: 400px;
    border: 1px black solid;
    border-radius: 5px;
}

.card__content-img {
    display: flex;
    width: 300px;
    height: 200px;
    background-color: #00CBF6;
    justify-content: center;
    align-items: center;
}

.card__title {
    display: block;
    padding: 20px;
}

.card__title-name {
    padding-left: 10px;
}

.card__title-user-name {
    padding-left: 10px;
}

.card__title-email {
    padding-left: 10px;
}

.card__content {
    display: block;
    padding: 20px;
}

.card__content {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 10px;
}

.card__actions {
    display: flex;
    justify-content: center;
    padding: 20px;
}
