.base-container {
    background: url("../assets/img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.sub-container {
    width: 1025px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 17px;
}

.logo-wrapper {
    width: 201px;
    margin-top: 51px;
    display: grid;
    grid-template-columns:  53px 140px;
    grid-gap: 8px;
    text-decoration: none;
    color: #FFFFFF;
}

.logo-img-colored {
    display: none;
}

.logo-wrapper:hover .logo-img {
    display: none;
}

.logo-wrapper:hover .logo-img-colored {
    display: block;
}

.logo-wrapper:hover .logo-text > * {
    color: #F26522;
}

.logo-img {
    padding-bottom: 9px;
}

.logo-tittle-part-one {
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    text-transform: uppercase;
}

.logo-tittle-part-two {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-bottom: 6px;
}

.logo-text {
    display: grid;
    grid-template-columns:  140px;
}

.contacts {
    list-style-type: none;
    margin-top: 46px;
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 19px;
    color: #FFFFFF;
}

.email {
    display: block;
    font-size: 18px;
    line-height: 18px;
    text-align: right;
    color: #FFFFFF;
    text-decoration: none;
}

.phone {
    display: block;
    font-size: 18px;
    line-height: 18px;
    text-align: right;
    color: #FFFFFF;
    text-decoration: none;
}

.email:hover {
    color: #F26522;
}

.phone:hover {
    color: #F26522;
}

.figure-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.figure-item {
    margin: 0;
    padding: 0;
    width: 300px;
}

.figure-item-name {
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 37px;
}

.footer {
    display: flex;
    justify-content: center;
}

.footer-text {
    padding-top: 12px;
    padding-bottom: 15px;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}

.figure-item-img {
    display: block;
    width: 300px;
}

.figure-item-link {
    position: relative;
    text-decoration: none;
}

.img-and-hover {
    position: relative;
}

.figure-item-img-hoover {
    display: none;
    width:100%;
    bottom: 0;
    position: absolute;
    background-color: #F26522;

}

.figure-item-link:hover .figure-item-img-hoover {
    display: block;
}

.figure-item-link:hover .figure-item-name {
    color: #F26522;

}

.item-hoover-context-details {
    margin-left: 128px;
}

.item-hoover-context-details:before, .item-hoover-context-details:after {
    border-right: 2px white solid;
    content: '';
    display: block;
    height: 8px;
    margin-top: -6px;
    position: absolute;
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    right: 10px;
    top: 60%;
    width: 0;
}

.item-hoover-context-details:after {
    margin-top: -1px;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.item-hoover-context {
    display: block;
    padding-top: 7px;
    padding-left: 16px;
    margin-bottom: 8px;
    padding-bottom: 0;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
}

.item-hoover-context-price {
    margin-top: 0;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    padding-left: 16px;
}


